body{
	/*max-width:65%;*/
	margin:0 auto;
	font-family:arial;
	font-size:100%;
	text-align:left;
	color:black;
	background-color:#d6d0bf;
	}

.center {
	margin: auto;
	width : 80%;
	justify-items: center;
	}

.wifi {
	margin: auto;
	width : 600px;
	padding: 10px 10px;
	display: flex;
	justify-content: center;	
	text-align: center;
	}

a:link{
	color:white;
	font-size:100%;
	text-decoration:none;
	}

a:hover{
	color:white;
	font-size:100%;
	text-decoration:none;
	}

section {
	font-size:1.0em;
	}

h1{
	color:white;
	border-radius:0.5em;
	text-align:center;
	font-size:1em;
	padding:0.2em 0.2em;
	background:#558ED5;
	}

h2{
	color:black;
	font-size:1.0em;
	}


table{
	font-family:arial,sans-serif;
	font-size:1.0em;
	border-collapse:collapse;
	margin: auto;
	}

td {
	text-align: left;
	}


input[type="number"] {
	clear: both;
	float: left;
	width: 50px;
	}

.cfg-select {
	clear: both;
	float: left;
	width: 360px;
	}

.scale-select {
	clear: both;
	float: left;
	width: 210px;
	}
	
	
.form-submit {
	margin-bottom:1rem;
	border-radius:0.5em;
	padding:0.3em 0.3em;
	background:#0066A2;
	margin:auto;
	color:white;
	width:150px;
	font-size:100%;
	}
		
p {
	font-size:100%;
	}

.istats { color: rgb(209, 20, 61);grid-area: 1 / 1 / span 1 / span 1;}
.chrt { width: 1500px; height: 750px; margin-bottom: 50px; */grid-area: 1 / 2 / span 1 / span 1;}
.vstats { color: rgb(34, 73, 228);grid-area: 1 / 3 / span 1 / span 1;}

.capture {
	margin: auto;
	width : 800px;
	padding: 10px 10px;
	justify-content: center;	
	text-align: center;
	}

.grid-container {
  display: grid;
  width : 100%;
  height : 60%;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  padding: 10px;
  justify-items: center;
}

.grid-container > div {
  text-align: center;
  padding: 20px 50px;
  font-size: 1.0em;
}

section.range-slider {
position: relative; 
width: 1400px;
height: 100px;
margin: auto;
text-align: center;
}

section.range-slider input[type="range"] {
pointer-events: none;
position: absolute;
-webkit-appearance: none;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
border: none;
border-radius: 4px;
background: #f1efef;
box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
-webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
overflow: hidden;
left: 0;
top: 50px;
width: 1400px;
outline: none;
height: 20px;
padding: 0px;
}

section.range-slider input[type="range"]::-webkit-slider-thumb {
pointer-events: all;
position: relative;
z-index: 1;
outline: 0;
-webkit-appearance: none;
width: 20px;
height: 20px;
border: none;
border-radius: 4px;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0%, #dad8da),
	color-stop(100%, #413f41)
);
}


button {
	margin-bottom:1rem;
	border-radius:0.5em;
	background: #0066A2;
	padding:0.3em 0.3em;
	color:white;
	font-size:100%;
	}

button:active {
	transform: translateY(2px);
  }


.led-box {
  height: 30px;
  width: 25%;
  margin: auto;
  justify-content: center;
}


.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}


.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

